{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>
    Reza Mollagholipour<br>
    Brisbane, QLD 4000 | +61493717812 | reza761co@gmail.com
</p>
<p>
    I am a dynamic Civil and Structural Engineer with over thirteen years of on-site experience in Quantity Surveying, Construction Estimation, and Site Engineering. 
    I have pursued a Master's degree in Artificial Intelligence to integrate AI technologies in construction.
</p>
{% endblock %}
