{% extends 'base.html' %}

{% block title %}Skills{% endblock %}

{% block content %}
<h1>Skills & Certifications</h1>
<h2>Skills</h2>
<ul>
    <li>Sustainability Implementation</li>
    <li>Stakeholder Engagement</li>
    <li>Quality Assurance</li>
    <li>EXCEL and Python</li>
    <li>Project Management</li>
</ul>

<h2>Certifications</h2>
<ul>
    <li>Google IT Automation with Python Professional</li>
    <li>Google IT Support Professional Certificate</li>
    <li>Programming at Python</li>
</ul>
{% endblock %}
